* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}
.yemeni-house
{
  position: relative;
  width: 90rem;
  height: 62rem;
  background: #aaa;
  border-radius: 1rem;
}
.rook
{
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translatex(-50%);
  border-top-left-radius: 80%;
  border-top-right-radius: 5rem;
  border-bottom-right-radius:30% ;
  border-bottom-left-radius:50% ;
  width: 45rem;
  height: 12rem;
  background: linear-gradient(30deg,#f8ca84,#9f754b);;
 

}
.rook::before
{
  content: "";
  position: absolute;
  left: .4rem;
  top: -8.3rem;
  /* transform: translatex(-50%); */
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 0px;
  width: 45rem;
  height: 11rem;
  background: linear-gradient(30deg,#9f754b 5%,#9f754b 15%,#f8ca84);
}
.rook span.one
{
  position: absolute;
  left: 10%;
  top: 50%;
  display: inline-block;
  width: 7rem;
  height: 4rem;
  background: #9f754b69;
  border-top-right-radius: 50% 80%;
  border-bottom-left-radius: 76% 60%;
  border-top-left-radius: 50% 80%;
    border-bottom-right-radius: 76% 60%;
}
.rook span.two
{
  position: absolute;
  right: 10%;
  top: 55%;
  display: inline-block;
  width: 170px;
  height: 45px;
  background: #9f754b69;
  border-top-right-radius: 50% 80%;
  border-bottom-left-radius: 76% 60%;
  border-top-left-radius: 50% 80%;
    border-bottom-right-radius: 76% 60%;
}
.tree
{
  position: absolute;
  right: 20rem;
  bottom: 30rem;
  width: 12rem;
  height: 12rem;
  background: #94ab38;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  transform: rotate(315deg);
}
.tree::before
{
  content: "";
  position: absolute;
  top: 8.5rem;
  left: -2rem;
  width: 1rem;
  height: 10rem;
  background: #3c2703;
  transform: rotate(45deg);
}
.main
{
  
  width: 34rem;
  height: 35rem;
  position: absolute;
  left: 49%;
  top: 11%;
  transform: translateX(-49%);
  background: rgb(112 104 104);
  border-bottom: 8px solid #359939;
}
.main::before
{
  content: "";
  position: absolute;
  left: 0;
  top: -2rem;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent transparent #fff #fff;
}
.main::after
{
  content: "";
  position: absolute;
  right: 0;
  top: -2rem;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
}
.door
{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 8rem;
  background: #4d2418;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
}
.door::before
{
  content: "";
 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1px;
  width: calc(100% - .4rem);
  height: calc(3rem - .4rem);
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  background-image: linear-gradient(to right,transparent 10%, transparent 90%,#333 90%), linear-gradient(to bottom,transparent 10%, #6d6d7d 10%,#6d6d6d 90%);
  background-size: 1rem 1.5rem;
  border: .2rem solid #4d2418;
}
.door::after
{
  content: "";
  position: absolute;
  left: 14%;
  top: 60%;
  transform: translateY(-50%);
  background: #000;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;

}
.windowone
{
  position: absolute;
  bottom: 30%;
  left: 20%;
  transform: translateX(-20%);
  width: 6rem;
  height: 8rem;
  background: #4d2418;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;

}
.windowone::before
{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  width: calc(100% - 0.4rem);
  height: calc(4rem - .4rem);
  background-image: linear-gradient(to right,transparent 10%, transparent 90%,#333 90%), linear-gradient(to bottom,transparent 10%, #6d6d7d 10%,#6d6d6d 90%);
  background-size: 1rem 1.5rem;
  border: .2rem solid #4d2418;

}
.top-windo
{
  position: absolute;
  top: 0;
  width: calc(100% + 0px);
  height: 4rem;
  background: #fff;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
}
.top-windo span.one
{
  position: absolute;
  left: 13%;
  top: 68%;
  border-width: .5rem;
  border-style: solid;
  border-color: crimson transparent transparent crimson;
  
}
.top-windo span.two
{
  position: absolute;
  left: 69%;
  top: 65%;
  border-width: .5rem;
  border-style: solid;
  border-color: transparent teal teal transparent;
  
}
.top-windo span.three
{
  position: absolute;
  left: 65%;
  top: 30%;
  border-width: .5rem;
  border-style: solid;
  border-color: transparent #673ab7 #673ab7 transparent;
  
}
.top-windo span.foure
{
  position: absolute;
  left: 20%;
    top: 25%;
  border-width: .5rem;
  border-style: solid;
  border-color: #e91e63 transparent transparent #e91e63;
  
}
.top-windo span.five
{
  position: absolute;
  left: 42%;
  top: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: turquoise;
  
}
.top-windo span.sax
{
  position: absolute;
  left: 50%;
  top: 10%;
  width: 1rem;
  height: 1rem;
  border-width: .5rem;
  border-style: solid;
  border-color: #e91e63 transparent transparent #e91e63;
  
}
.windowtwo
{
  position: absolute;
  bottom: 30%;
  right: 20%;
  transform: translateX(20%);
  width: 6rem;
  height: 8rem;
  background: #4d2418;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;

}
.windowtwo::before
{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -.1rem;
  width: calc(100% - .4rem);
  height: calc(4rem - .4rem);
  background-image: linear-gradient(to right,transparent 10%, transparent 90%,#333 90%), linear-gradient(to bottom,transparent 10%, #6d6d7d 10%,#6d6d6d 90%);
  background-size: 1rem 1.5rem;
  border: .2rem solid #4d2418;

}
.sprat
{
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-40%);
  width: 100%;
  height: .5rem;
  background: #fff;
}

.windowthree
{
  position: absolute;
  bottom: 70%;
  left: 20%;
  transform: translateX(-20%);
  width: 6rem;
  height: 8rem;
  background: #4d2418;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;

}
.windowthree::before
{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -.1rem;
  width: calc(100% - .4rem);
  height: calc(40px - .4rem);
  background-image: linear-gradient(to right,transparent 10%, transparent 90%,#333 90%), linear-gradient(to bottom,transparent 10%, #6d6d7d 10%,#6d6d6d 90%);
  background-size: 1rem 1.5rem;
  border: .2rem solid #4d2418;

}

.windowfoure
{
  position: absolute;
  bottom: 70%;
  right: 20%;
  transform: translateX(20%);
  width: 6rem;
  height: 8rem;
  background: #4d2418;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;

}
.windowfoure::before
{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -.1rem;
  width: calc(100% - .4rem);
  height: calc(4rem - .4rem);
  background-image: linear-gradient(to right,transparent 10%, transparent 90%,#333 90%), linear-gradient(to bottom,transparent 10%, #6d6d7d 10%,#6d6d6d 90%);
  background-size: 1rem 1.5rem;
  border: .2rem solid #4d2418;

}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

 
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .tree
  {
    right: 20rem;
  }

}
@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
  
}

